<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flames</title>


</head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='first.css') }}">

<body>
<form action="/login" methods=["POST","GET"]>
    <button class="lbutton" type="submit">login</button>
        </form>
<div class="main">
    <form action="/index" method="POST"> 
        <img src="{{ url_for("static",filename='flames.png')}}">
        <br>
        <br>
    <input type="text" name="your_name" title="YOUR NAME" placeholder="YOUR NAME" required>
<br>
<br>

    <input type="text" name="couple_name" title="YOUR COUPLE NAME" placeholder="YOUR COUPLE NAME" required>
        <br>
        <br>
        <br>
        <button type="submit" class="submitbutton">Submit</button>
</form>
</div>
</body>
</html>