<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flames</title>
</head>
<style>
    body {
  background-color: pink;
}
</style>
<body>
<form action="/login" method="post">
<center style="margin-top:250px">

    <label style="margin-left:-250px" for="YOUR NAME">YOUR NAME
    <input type="text" name="YOUR NAME" title="YOUR NAME" placeholder="YOUR NAME" >
        </label>

    </center>
<br>
<br>

    <center style="margin-bottom:-250px">

    <label style="margin-left:-250px" for="YOUR CAPLE NAME">YOUR CAPLE NAME
    <input type="text" name="YOUR CAPLE NAME" title="YOUR CAPLE NAME" placeholder="YOUR CAPLE NAME">
        </label>
        <br>
        <br>
        <br>
        <input type="submit" name="submit" title="submit">
</center>
</form>








</body>
</html>