<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flames</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='first.css') }}">
    

</head>

<body>
    <div class="login">

<form action="/newlogin" methods=["POST","GET"]>
    <button class="buttonsign" type="submit">SIGN UP</button>
        </form>
<div class="logpage">

    <form action="/login" method="POST">
        <img src="{{ url_for('static',filename='logo.png') }}">
        <br>


    <input type="text" name="user_name" id="user_name" title="USER NAME" placeholder="USER NAME" >
<br>
<br>

    <input type="password" name="password" title="PASSWORD" placeholder="PASSWORD">
        <br>
        <br>
        <br>
        <button type="submit" class="buttonlogin">LOGIN</button>



</form>
</div>
</div>

</body>
</html>