<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flames</title>


</head>

<body>
<div style="margin-top:30vh;margin-left:30vw;">

    <form action="/new_login" method="post">
        <h1>NEW CREATE LOGIN</h1>

    <label for="user_name">USER NAME</label><br>
    <input type="text" name="user_name" id="user_name" title="USER NAME" placeholder="user name" >
<br>
<br>
    <label for="password" >PASSWORD</label><br>
    <input type="password" name="password" title="PASSWORD" placeholder="password">
        <br>
        <br>
        <br>
        <button type="submit" class="button">login</button>


</form>
</div>


</body>
</html>